.container__register {
    position: relative;
    top: 50px;
    width: 100%;
}

h3.subtitle {
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 14px;
    justify-content: flex-start;
}

form {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.text-input {
    background: #e6e6e6;
    height: 40px;
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    padding: 0 15px;
    margin: 5px 0;
}

.text-input input,
.text-input select {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    margin-left: 10px;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
}

.text-input label {
    color: #686868;
    font-size: 1.6rem;
    width: 130px;
}

.text-input input[type="radio"] {
    width: 15px;
    height: 15px;
    margin-right: 15px;
    margin-left: 0;
}

.radio-input {
    gap: 20px;

}

::placeholder {
    color: #9a9a9a;
}

.buttons {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.buttons button {
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    opacity: 50%;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    font-weight: 700;
    color: white;
}

.buttons .btn-primary {
    background-color: #717171;
    opacity: 100%;
}

.buttons .btn-save {
    background-color: green;
    opacity: 100%;
}

.buttons .btn-danger {
    background-color: red;
    opacity: 100%;
}

.buttons .btn-primary:hover,
.buttons .btn-save:hover,
.buttons .btn-danger:hover {
    opacity: 60%;
}
